<html lang="en">

<body>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h2>Simple, Complete Nutrition</h2>
            </div>
            <div class="container">
            <div class="row">
              <div class="col-sm-8">

              </div>
              <div class="col-sm-4">
                <section class="signup">
                    <div class="form-centered">

                      <h4>Signup to be notified for preorder</h4>
                      <br>
                      <%= simple_form_for @visitor do |f| %>
                        <%= f.error_notification %>
                        <%= f.input :email, label: false, :placeholder => 'Your email address...' %>
                        <br/>
                        <%= f.button :submit, "Sign up for Notification", :class => "submit" %>
                      <% end %>
                  </div>
                </section>
            </div>
          </div>
        </div>
    </header>
</section>
    <!-- Page Content -->
    <div class="container">

        <section>


        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="nutrition">
            <img class="featurette-image img-circle img-responsive pull-right" src="https://s3.amazonaws.com/threethreesix/AutoFood+Nutrition.png">
            <h2 class="featurette-heading">AutoFood is
                <span class="text-muted">Nutrition Complete</span>
            </h2>
            <p class="lead">AutoFood is formulated to be nutrition complete and independently verified by qualified dietitians. AutoFood can completely replace your daily meals with all the essential nutrients and calories. AutoFood is all you need to survive and thrive.</p>

            <p class="lead">AutoFood is made primarily from Pea Protein, Oat Flour, Flaxseed, MCT, Lecithin, and a bespoke vitamin and mineral blend with no sweeteners (or sugar). Each meal is high in protein (150g per day),<strong> vegan </strong>, and high in fibre.  </p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="preparation">
            <img class="featurette-image img-circle img-responsive pull-left" src="https://s3.amazonaws.com/threethreesix/AutoFood+Mixing.png">
            <h2 class="featurette-heading">AutoFood is
                <span class="text-muted">Easy to Prepare</span>
            </h2>
            <p class="lead">With AutoFood, simply mix with water and have a ready to drink meal. Mix one bag for one day's supply of meals. Keep in refrigerator for a cold, refreshing meal.</p>

             <p class="lead">It takes only a few minutes to prepare with no complicated recipes. Less shopping, preparing, and washing up.  </p>
        </div>

        <hr class="featurette-divider">

        <!-- Thrid Featurette -->
        <div class="featurette" id="price">
            <img class="featurette-image img-circle img-responsive pull-right" src="https://s3.amazonaws.com/threethreesix/AutoFood+powder.png">
            <h2 class="featurette-heading">AutoFood is
                <span class="text-muted">Economical</span>
            </h2>
            <p class="lead">AutoFood costs R65 per meal, substantially cheaper than eating out or buying a full complement of fresh food. It's high in protein and includes 100% of your nutrient and vitamin requirements. No need for supplements.</p>

             <p class="lead">There's no food waste from AutoFood and it has an extensive shelf life. AutoFood makes food simple</p>
        </div>

        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; AutoFood 2016</p>
                </div>
            </div>
        </footer>

    </div>

</body>

</html>

